@import "container.css";
body {
  background: #39f;
  margin: 0;
}

* {
  font-family: Helvetica, sans-serif;
}

.repos {
  list-style: none;
}

.repos li i.material-icons {
  position: relative;
  color: #666;
  transition: color 0.2s, left 0.2s;
  left: 0;
  top: 5px;
}
.repos li:hover i.material-icons {
  color: #000;
  left: -2px;
}
