<h1>{{org.id}} Repositories</h1>
<ul class='repos'>
  {{#each model as |repo index|}}
    <li>
      <i class="material-icons" onclick={{action 'repoFavorited' repo}}>
        star_border
      </i>
      {{#link-to 'org.repo' repo.id}}
        {{repo.id}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{outlet}}
