<h1>{{org.name}} Repositories</h1>
<ul>
  {{#each content as |repo index|}}
    <li class="repos">
      <i class="material-icons" onclick={{action 'favorite' repo.id}}>star_border</i>
      {{link-to repo.id "org.repo" index}}
    </li>
  {{/each}}
</ul>

{{outlet}}
