<h1>{{org.id}} Repositories</h1>
<ul>
  {{#each content as |repo index|}}
    <li>
      {{#link-to "org.repo" index}}
        ({{index}}) {{repo.id}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
