<p>
  {{model.description}}
</p>
<p>
  <i class="material-icons">star</i> {{nice-number model.stargazers-count}}
</p>

<p>
  {{#if model.homepage}}
    <a href="{{model.homepage}}">Homepage</a>
  {{/if}}
</p>

{{outlet}}
